html, 
body,
#mainContainer, 
#app {
    height: 100%;
}
.modal, .section, .container{
    height: 100%
}
.half {
    height: 50%
}

h5{
    font-family: Arial, Helvetica, sans-serif;
}

textarea {
    resize: none;
    margin: 10px;
}

.btn-outline-success.disabled, .btn-outline-success:disabled{
    background-color: #757575;
    color: #fff6ff !important;
}
img[alt]:after {  
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    font-family: 'Helvetica';
    font-size: 18px;
    content: attr(alt);
}
img{
    position: relative;
    max-width: 100%;
    max-height: 100%;
}

.slider-width {
    width: 100%
}

.bg-greenish {
    background-color: #ece9fa;
}

.navbar-text {
    color: #8078aa !important;
}

.nav-link {
    color: #8078aa !important;
}

.nav-item a:hover {
    color: #292929 !important;
    font-weight: bold;
    background-color:#8078aa;
}

.text-success {
    color: #8078aa !important;
}

.btn-success {
    background: #ae4d9d !important;
}

.btn-danger {
    background: #fff6ff!important;
    color: #ae4d9d !important;
}

.btn-outline-success {
    color: #8078aa !important;
}

.btn-outline-success:hover {
    background: #ae4d9d !important;
    color: #fff6ff !important;
}
.siana-footer-logo {
    position: absolute; 
    right: 275px; 
    bottom: 20px; 
    height: 100px
}

.st-partner-footer-logo {
    position: absolute; 
    right: 25px; 
    bottom: 20px; 
    height: 100px
}

.mpcam-logo {
    width: 200px;
}
.mpcam-logos {
    height: 75px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.mpcam-logo-layout {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.h-divider{
    margin-top:20px;
    margin-bottom:5px;
    height:1px;
    width:100%;
    border-top:1px solid gray;
}

@media only screen and (max-width: 768px)
{
    .siana-footer-logo {
        position: absolute; 
        left: 8%; 
        bottom: 5%; 
        width: 30vw;
        height: auto;
        max-width: 150px;
    }
    
    .st-partner-footer-logo {
        position: absolute; 
        right: 8%; 
        bottom: 4%; 
        width: 30vw;
        height: auto;
        max-width: 150px;
    }

    .mpcam-logo {
        width: 150px;
        height: 30px;
    }
}
